<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义搜索框并缓存搜索记录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>615CB4CB1C92B20B00B1AA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615CB4E41C92B20B00B1AA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615CB4EF1C92B20B00B1AA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
